# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
pip-log.txt
.pytest_cache/
.coverage
htmlcov/
.ruff_cache/
*.egg-info/

# Django
*.log
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Entorno
.env
.env.*
!.env.example

# Git
.git/
.gitignore
.github/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Docs
*.md
docs/
