# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/

# Django
*.log
local_settings.py
db.sqlite3
staticfiles/
media/

# Entorno
.env
.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
.coverage
